:root{
    --pretoFosco: #081826;
    --azulMaisClaro: #D0E4F2;
    /* --azulClaro: #85A5CC; */
    --azulClaro: #734636;
    --azulEscuro: #4A6491;
    --azulMaisEscuro: #30395C;
    --azulDark: #1A1F2B;
}
